{
    "HOST": "127.0.0.1",
    "PORT": 1234,
    "DEBUG": false,
    "AUTO_REFRESH": 60,
    "MINIMUM_MSQ_QUESTS": 5,
    "SHOW_CLASSES": true,
    "SHOW_CURRENCIES": true,
    "SHOW_MSQ_PROGRESSION": false,
    "DEFAULT_THEME": "default",
    "HIGHLIGHT_IDLE_RETAINERS": true,
    "HIGHLIGHT_IDLE_SUBS": true,
    "HIGHLIGHT_READY_ITEMS": true,
    "HIGHLIGHT_MAX_MB": true,
    "account_locations": [
        {
            "nickname": "Main",
            "pluginconfigs_path": "C:\\Users\\{user}\\AppData\\Roaming\\XIVLauncher\\pluginConfigs",
            "enabled": true
        },
        {
            "nickname": "Acc1",
            "pluginconfigs_path": "C:\\Users\\{user}\\AltData\\Acc1\\pluginConfigs",
            "enabled": false
        },
        {
            "nickname": "Acc2",
            "pluginconfigs_path": "C:\\Users\\{user}\\AltData\\Acc2\\pluginConfigs",
            "enabled": false
        }
    ],

    "submarine_plans": {
        "leveling": [
            "OJ Unlocker",
            "Overseer OJ Unlocker",
            "XP Grind"
        ],
        "farming": {
            "OJ": 118661,
            "Yummy OJ": 118661,
            "Overseer OJ": 118661,
            "JORZ": 140404,
            "MROJZ": 116206,
            "Custom Route 1": 80000
        }
    },

    "item_values": {
        "venture_coffer": 18000,
        "pure_white_dye": 450000,
        "jet_black_dye": 600000,
        "pastel_pink_dye": 40000
    },

    "build_gil_rates": {
        "ABCD++": 100000,
        "EFGH": 150000
    },

    "build_consumption_rates": {
        "ABCD++": {"tanks_per_day": 10.0, "kits_per_day": 2.0},
        "EFGH": {"tanks_per_day": 12.0, "kits_per_day": 3.5}
    },

    "ceruleum_tank_cost": 350,
    "repair_kit_cost": 2000
}
